.mylabel{
    font-weight: bold;
}

.mainTitle{
  color: gray;
}

.sec-col{
  border-left: 1px solid #bdbdbd;
  max-height: 40em;
    overflow: scroll;
}

.pre-block{
  background: #80808026;
  margin: 0px 17px;
  color: darkblue;
}

input{
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: 1px solid gray;
    background: #f1f1f1;
  }

  input:focus{
    background-color: #ddd;
    outline: none;
  }

  select{
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: 1px solid gray;
    background: #f1f1f1;
  }

  select:focus{
    background-color: #ddd;
    outline: none;
  }

  .menubutton {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}