<!DOCTYPE html>
<html lang="en" ng-app="mainApp">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dynamic Page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" href="./css/index.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
        crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="./scripts/app.js"></script>
</head>

<body ng-controller="appController">

    <div class="row">
        <div class="col-6">
            <span style="color: red;">{{JSONerror}}</span>
            <h1 class="mx-3 mainTitle">{{page.title}}</h1>
        </div>
        <div class="col-6">
            <h1 class="mx-3 mainTitle">{{jsontitle}}</h1>
            <small id="emailHelp" class="form-text text-muted mx-3"><span style="color: red;" class="blink">Change in JSON to reflect the changes in form</span> </small>
        </div>
    </div>
    <div class="row">
        <hr>
    </div>



    <div class="row">
        <div class="col-6">
            <!--dynamic page START-->
            <div id="dynamicPage" class="container">

                <span ng-repeat="field in page.fields | orderBy:'sno'">
                    <span ng-if="field.display != false">
                        <label for="{{field.id}}" class="{{field.classes}}">{{field.label}}</label>
                        <input id="{{field.id}}" ng-hide="{{field.type == 'dropdown'}} || {{field.type == 'checkbox'}}"
                            type="{{field.type}}" style="{{field.styles}}" placeholder="{{field.placeholder}}"
                            ng-model="field.value"></input>
                        <select ng-show="{{field.type == 'dropdown'}}" ng-model="field.value" style="{{field.styles}}"
                            id="{{field.id}}">
                            <option ng-repeat="option in field.options" value="{{option.value}}">{{option.displayValue}}
                            </option>
                        </select>
                        <label ng-show="{{field.type == 'checkbox'}}" ng-repeat="option in field.options">
                            <input type="checkbox" value="{{option}}" ng-checked="selection.indexOf(option) > -1"
                                ng-click="toggleSelection(option , field.id)"> {{option}}
                        </label>
                        <br />
                    </span>
                </span>

                <div ng-init="button = page.buttons" ng-show="JSONerror == null">
                    <button type="{{button[0].type}}" class="{{button[0].classes}}" style="{{button[0].styles}}"
                        ng-click="registerData()">{{button[0].label}}</button>
                    <button type="{{button[1].type}}" class="{{button[1].classes}}" style="{{button[1].styles}}"
                        ng-click="clearRegisterData()">{{button[1].label}}</button>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="sec-col">

                <textarea style="color: darkblue;border: none;" ng-change="jsonChanged()" class="form-control" ng-model="displayJson" cols="30"
                    rows="50"></textarea>
            </div>
        </div>
    </div>

    <!--dynamic page END
    <button type="{{button.type}}" class="{{button.classes}}" style="{{button.styles}}" ng-click="{{button.wfunction}}()">{{button.label}}</button>
    -->



</body>

</html>